
#player-table {
    border-collapse: collapse;
}
td { 
    border-top: 2px solid brown;
    border-bottom: 2px solid brown;
    margin: 1em;
}
table { 
    color: yellow;
    text-align: center;
    /* background: rgb(121, 31, 31); */
    width: 100%
}
#create-player { 
    margin: 1em 0 1em 0;
    background: brown;
    color: yellow;
}