body {
    background-image: url(https://www.casinosupply.com/cdn/shop/products/DSCF7808_5000x.jpg?v=1619810373);
    background-repeat: repeat; 
    height: 200%;
    background-position: center;
    background-size: cover;
}
table {
    border-collapse: collapse;
    margin: auto;
}
th {
    border: 1px solid black;
    background: salmon;
    padding: .5em;
}

td {
    background-color: rgb(251, 157, 147);
    border: 1px solid black;
    padding: .5em;
    text-align: center;
}
div#create-player {
    margin: auto;
    width: 15%;
    background: brown;
    border: 10px inset brown;
    color: yellow;
}
input {
    display: block;
    border: 1px solid black;
    background: rgb(75, 20, 20);
    color: yellow;
}
#create-button {
    margin-top: 10px;
}
fieldset {
    background-color: brown;
    border: none;
}
legend {
    background: rgb(139, 35, 35);
}
h5 {
    background: rgb(139, 35, 35);
    display: inline-block;
}
#invis-1 {
    display: none;
}
#invis-2 {
    display: none;
}